<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiId</key>
	<string>74502511</string>
	<key>apiKey</key>
	<string>0de389f47eca3d109c3aee209a7861db</string>
</dict>
</plist>
